<div class="container-fluid">

	<div class="form-group">
		<button type="button" class="btn btn-primary" data-toggle="modal"
			data-target="#invoiceModal">Kreiraj fakturu</button>
	</div>
	<h3>Kreirane fakture:</h3>
	<table class="table table-hover table-bordered">
		<thead>
			<tr>
				<th>Naziv kupca</th>
				<th>Adresa kupca</th>
				<th>Iznos za uplatu</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="invoice in createdInvoices"
				ng-click="showInvoice(invoice)" data-toggle="modal"
				data-target="#showInvoiceModal">
				<td>{{ invoice.zaglavljeFakture.nazivKupca }}</td>
				<td>{{ invoice.zaglavljeFakture.adresaKupca }}</td>
				<td>{{ invoice.zaglavljeFakture.iznosZaUplatu }}</td>
				<td><div class="row">
						<div class="form-group col-md-6">
							<button type="button" class="btn btn-primary btn-sm"
								ng-click="sendInvoice(invoice)">Pošalji</button>
						</div>
						<div class="form-group col-md-6">
							<button type="button" class="btn btn-danger btn-sm"
								ng-click="removeInvoice(invoice)">Obriši</button>
						</div>
					</div></td>
			</tr>
		</tbody>
	</table>
	<h3>Primljene fakture:</h3>
	<table class="table table-hover table-bordered">
		<thead>
			<tr>
				<th>Datum</th>
				<th>Naziv dobavljaca</th>
				<th>Adresa dobavljaca</th>
				<th>Iznos za uplatu</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="invoice in receivedInvoices"
				ng-click="showInvoice(invoice)" data-toggle="modal"
				data-target="#showInvoiceModal">
				<td>{{ invoice.zaglavljeFakture.datumRacuna }}</td>
				<td>{{ invoice.zaglavljeFakture.nazivDobavljaca }}</td>
				<td>{{ invoice.zaglavljeFakture.adresaDobavljaca }}</td>
				<td>{{ invoice.zaglavljeFakture.iznosZaUplatu }}</td>
			</tr>
		</tbody>
	</table>
	<h3>Poslate fakture:</h3>
	<table class="table table-hover table-bordered">
		<thead>
			<tr>
				<th>Datum</th>
				<th>Naziv kupca</th>
				<th>Adresa kupca</th>
				<th>Iznos za uplatu</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="invoice in sentInvoices"
				ng-click="showInvoice(invoice)" data-toggle="modal"
				data-target="#showInvoiceModal">
				<td>{{ invoice.zaglavljeFakture.datumRacuna }}</td>
				<td>{{ invoice.zaglavljeFakture.nazivKupca }}</td>
				<td>{{ invoice.zaglavljeFakture.adresaKupca }}</td>
				<td>{{ invoice.zaglavljeFakture.iznosZaUplatu }}</td>
			</tr>
		</tbody>
	</table>

	<!-- Invoice Modal -->
	<div id="invoiceModal" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-header">Faktura</div>
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-body">

					<div class="form-group">
						<label for="buyer" class="control-label"> Kupac: </label> <select
							ng-options="company as company.ime for company in companies track by company.id"
							ng-model="selectedCompany" class="form-control" id="buyer"
							ng-change="setInvoiceHeaderBuyer(selectedCompany)">
							<option style="background-color: #ccc" value="">Izaberi
								kupca...</option>
						</select>
					</div>
					<div class="row">
						<label class="col-md-6">Vrednost robe:
							{{invoice.zaglavljeFakture.vrednostRobe}}</label> <label class="col-md-6">Vrednost
							usluga: {{invoice.zaglavljeFakture.vrednostUsluga}}</label>
					</div>
					<div class="row">
						<label class="col-md-6">Ukupna vrednost:
							{{invoice.zaglavljeFakture.ukupnoRobaIUsluge}}</label> <label
							class="col-md-6">Ukupan rabat:
							{{invoice.zaglavljeFakture.ukupanRabat}}</label>
					</div>
					<div class="row">
						<label class="col-md-6">Ukupan porez:
							{{invoice.zaglavljeFakture.ukupanPorez}}</label> <label class="col-md-6">Iznos
							za uplatu: {{invoice.zaglavljeFakture.iznosZaUplatu}}</label>
					</div>

					<div class="form-group">
						<button type="button" class="btn btn-primary btn-sm"
							ng-click="addInvoiceItem()">Dodaj stavku</button>
					</div>
					<div ng-repeat="invoiceItem in invoice.stavkaFakture">
						<hr
							style="height: 1px; border: none; color: #333; background-color: #333;" />
						<button type="button" class="close" aria-label="Close"
							ng-click="removeInvoiceItem(invoiceItem)">
							<span aria-hidden="true">&times;</span>
						</button>
						<div class="form-group">
							<label for="productOrService" class="control-label">
								Proizvod ili usluga: </label> <select
								ng-options="productOrService as productOrService.ime for productOrService in productsOrServices track by productOrService.id"
								class="form-control" id="productOrService"
								ng-change="setInvoiceItemValues(invoiceItem, true)"
								ng-model="invoiceItem.proizvodIliUsluga">
								<option style="background-color: #ccc" value="">Izaberi
									proizvod ili uslugu...</option>
							</select>
						</div>
						<div ng-show="invoiceItem.show">
							<div class="row">
								<div class="col-md-3">
									<div class="form-group">
										<label for="amount" class="control-label"> Količina: </label>
										<input type="number" min="1" class="form-control" id="amount"
											ng-change="setInvoiceItemValues(invoiceItem, false)"
											ng-model="invoiceItem.kolicina"
											placeholder="Unesi koliÃ„ï¿½inu">
									</div>
									<div class="form-group">
										<label for="rebate" class="control-label"> Rabat u
											procentima: </label> <input type="number" min="0" max="100"
											class="form-control" id="rebate"
											ng-change="setInvoiceItemValues(invoiceItem, false)"
											ng-model="invoiceItem.procenatRabata"
											placeholder="Unesi rabat">
									</div>
								</div>
								<div class="col-md-9">
									<div class="row">
										<label class="col-md-6">Jedinica mere:
											{{invoiceItem.jedinicaMere}}</label> <label class="col-md-6">Jedinicna
											cena: {{invoiceItem.jedinicnaCena}}</label>
									</div>
									<div class="row">
										<label class="col-md-6">Ukupna vrednost:
											{{invoiceItem.vrednost}}</label> <label class="col-md-6">Iznos
											rabata: {{invoiceItem.iznosRabata}}</label>
									</div>
									<div class="row">
										<label class="col-md-6">Umanjeno za rabat:
											{{invoiceItem.umanjenoZaRabat}}</label> <label class="col-md-6">Ukupan
											porez: {{invoiceItem.ukupanPorez}}</label>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default pull-left"
						data-dismiss="modal" ng-click="createInvoice()">Kreiraj</button>
					<button type="button" class="btn btn-default pull-right"
						data-dismiss="modal">Odustani</button>
				</div>
			</div>

		</div>
	</div>


	<div id="showInvoiceModal" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-header">Faktura</div>
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-body">

					<div class="row">
						<div class="col-md-6">
							<h4>
								<b>Broj računa:</b>
								{{invoiceToShow.zaglavljeFakture.brojRacuna}}
							</h4>
							<h4>
								<b>Dobavljač:</b>
							</h4>
							<h4>{{invoiceToShow.zaglavljeFakture.nazivDobavljaca}}</h4>
							<h4>{{invoiceToShow.zaglavljeFakture.adresaDobavljaca}}</h4>
							<h4>{{invoiceToShow.zaglavljeFakture.pibDobavljaca}}</h4>
							<h4>
								<b>Kupac:</b>
							</h4>
							<h4>{{invoiceToShow.zaglavljeFakture.nazivKupca}}</h4>
							<h4>{{invoiceToShow.zaglavljeFakture.adresaKupca}}</h4>
							<h4>{{invoiceToShow.zaglavljeFakture.pibKupca}}</h4>
							<h4>
								<b>Datum računa: </b>{{invoiceToShow.zaglavljeFakture.datumRacuna}}
							</h4>
						</div>
						<div class="col-md-6">
							<h4>
								<b>Vrednost robe: </b>{{invoiceToShow.zaglavljeFakture.vrednostRobe}}
							</h4>
							<h4>
								<b>Vrednost usluga: </b>{{invoiceToShow.zaglavljeFakture.vrednostUsluga}}
							</h4>
							<h4>
								<b>Ukupno roba i usluge: </b>{{invoiceToShow.zaglavljeFakture.ukupnoRobaIUsluge}}
							</h4>
							<h4>
								<b>Ukupan rabat: </b>{{invoiceToShow.zaglavljeFakture.ukupanRabat}}
							</h4>
							<h4>
								<b>Ukupan Porez: </b>{{invoiceToShow.zaglavljeFakture.ukupanPorez}}
							</h4>
							<h4>
								<b>Iznos za uplatu: </b>{{invoiceToShow.zaglavljeFakture.iznosZaUplatu}}
								{{invoiceToShow.zaglavljeFakture.oznakaValute}}
							</h4>
							<h4>
								<b>Datum valute: </b>{{invoiceToShow.zaglavljeFakture.datumValute}}
							</h4>
						</div>
					</div>
					<div class="row"
						ng-repeat="invoiceItem in invoiceToShow.stavkaFakture">
						<hr />
						<div class="col-md-6">
							<h4>
								<b>Redni broj: </b>{{invoiceItem.redniBroj}}
							</h4>
							<h4>
								<b>Naziv robe/usluge: </b>{{invoiceItem.nazivRobeIliUsluge}}
							</h4>
							<h4>
								<b>Količina: </b>{{invoiceItem.kolicina}} {{invoiceItem.jedinicaMere}}
							</h4>
							<h4>
								<b>Jedinična cena: </b>{{invoiceItem.jedinicnaCena}}
							</h4>
							<h4>
								<b>Ukupna vrednost: </b>{{invoiceItem.vrednost}}
							</h4>
						</div>
						<div col-md-6>
							<h4>
								<b>Procenat rabata: </b>{{invoiceItem.vrednost}}
							</h4>
							<h4>
								<b>Iznos rabata: </b>{{invoiceItem.vrednost}}
							</h4>
							<h4>
								<b>Umanjeno za rabat: </b>{{invoiceItem.vrednost}}
							</h4>
							<h4>
								<b>Porez: </b>{{invoiceItem.ukupanPorez}}
							</h4>


						</div>
					</div>

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default pull-right"
						data-dismiss="modal">Izađi</button>
				</div>
			</div>
		</div>
	</div>

</div>